<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input 
             matInput
             type="text"
             name="title" 
             #title="ngModel"
             ngModel
             placeholder="Title"
             required>
            <mat-error *ngIf="title.invalid">Please enter input a post title</mat-error>
        </mat-form-field>

        <mat-form-field>
            <textarea 
            matInput 
            color="white" 
            name="content" 
            rows="6"
            #content="ngModel" 
            ngModel 
            placeholder="Post Content" 
            required>
        </textarea>
            <mat-error *ngIf="content.invalid">Please enter input a post content</mat-error>
        </mat-form-field>
        
        <button 
        mat-raised-button 
        color="accent"  
        type="submit">Save Post</button>
    </form>
</mat-card>